torch
transformers
sentence-transformers
langchain
langchain-core
chromadb
pydantic
streamlit
huggingface_hub
accelerate
protobuf==3.20.3
sentencepiece

streamlit>=1.28.0
sentence-transformers>=2.6.1
transformers>=4.41.2
torch>=2.1.0
chromadb>=0.4.24
pytest>=7.4.0
python-dotenv>=1.0.1
